<manifest package="com.lyft.lyftbutton"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="me.lyft.android" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
